name: CI & Release

permissions:
  contents: write

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build_and_release:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew


    - name: Get App Version Name
      id: get_version
      run: |
        # Run gradle properties, grep for versionName, and clean up the output
        VERSION_NAME=$(./gradlew -q app:properties | grep "versionName:" | awk '{print $2}')
        echo "Detected Version: $VERSION_NAME"
        echo "VERSION_NAME=$VERSION_NAME" >> $GITHUB_ENV


    - name: Run Tests
      run: ./gradlew testDebugUnitTest


    - name: Build Debug APK
      run: ./gradlew assembleDebug


    - name: Decode Keystore
      env:
        ENCODED_STRING: ${{ secrets.ANDROID_KEYSTORE_BASE64 }}
      run: |
        echo $ENCODED_STRING | base64 -di > anyfin-release.keystore

    - name: Build Release APK
      env:
        ANDROID_KEYSTORE_FILE: ../anyfin-release.keystore
        KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
        KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
        KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
      run: ./gradlew assembleRelease


    - name: Upload APK Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: apks-${{ env.VERSION_NAME }}
        path: |
          app/build/outputs/apk/debug/*.apk
          app/build/outputs/apk/release/*.apk


    - name: Create GitHub Release
      if: github.event_name == 'push'
      uses: softprops/action-gh-release@v1
      with:
        tag_name: v${{ env.VERSION_NAME }}
        name: Release v${{ env.VERSION_NAME }}
        draft: false
        prerelease: false
        generate_release_notes: true
        files: |
          app/build/outputs/apk/debug/*.apk
          app/build/outputs/apk/release/*.apk
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
